<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>List of Github projects of NodeJs Udemy course.</p>
        <ol>
            <li><h3><a href="https://github.com/iuryamicussi/node-course-web-server">Web-Server</a></h3></li>
        </ol>

        {{> footer}}
    </body>
</html>